<footer class="main_footer">
    <div class="wrapper">
        {% include social_footer.html %}
        <div class="copyright">
            <p>&copy; {{site.time | date: '%Y'}} AILifeLab Potography All rights reserved.</p>
            <p>Design by <a href="https://artemsheludko.github.io" target="_blank">Artem Sheludko</a></p>
            <p>地址：云南省昆明市官渡区官南大道中骏天誉（小街地铁站旁）公寓2#楼25楼</p>
            <p>Email:<a href="mailto:zero_minus_one@ailifelab.org?subject=摄影咨询">zero_minus_one@ailifelab.org</a></p>
        </div>
        <div class="copyright">
            <img src="https://img.alicdn.com/tfs/TB1..50QpXXXXX7XpXXXXXXXXXX-40-40.png" style="height:18px">
            <a href="https://beian.miit.gov.cn/" target="_blank">滇ICP备2021001891号-2</a>
        </div>
    </div>
</footer> <!-- End Section Footer -->